<!DOCTYPE html>
<title>テスト</title>
<form method="post" action="/form">
  <label>テキスト１: 
    <input type="text" name="text[]" value="text1">
  </label>
  <label>テキスト２: 
    <input type="text" name="text[]" value="text2">
  </label>
  <input type="submit" value="送信">
</form>